body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: #241b29;
}

.debug {
	border: 1px solid #000;
}

/* my :) */

.my {
	position: relative;
	background: url(../img/breno-polanski.png) no-repeat;
	width: 130px;
	height: 130px;
	margin: 80px auto;
	bottom: -40px;
}

.my:hover {
	opacity: 0.9;
}

/* text hello */

.hello {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 3.5em;
	text-align: center;
	letter-spacing: .05em;
}

.hello > span {
	color: #ed1a4b;
	font-weight: 700;
}

/* text description */

.description {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.3em;
	text-align: center;
	letter-spacing: .08em;
	margin-top: 50px;
}

.description > span {
	font-style: italic;
	font-weight: 700;	
}