.theme-scaled {
  --radius: 0.6rem;
  --text-lg: 1.05rem;
  --text-base: 0.85rem;
  --text-sm: 0.8rem;
  --spacing: 0.222222rem;

  [data-slot='card'] {
    --spacing: 0.16rem;
  }

  [data-slot='card-header'] *,
  [data-slot='card-content'] *,
  [data-slot='card-footer'] * {
    --spacing: 0.222222rem;
  }
}

/* Ref: https://github.com/rudrodip/theme-toggle-effect */
@supports (view-transition-name: none) {
  ::view-transition-group(root) {
    animation-duration: 0.7s;
    animation-timing-function: var(--expo-out);
  }

  ::view-transition-new(root) {
    animation-name: reveal-light;
  }

  ::view-transition-old(root),
  .dark::view-transition-old(root) {
    animation: none;
    z-index: -1;
  }
  .dark::view-transition-new(root) {
    animation-name: reveal-dark;
  }

  @keyframes reveal-dark {
    from {
      clip-path: polygon(50% -71%, -50% 71%, -50% 71%, 50% -71%);
    }
    to {
      clip-path: polygon(50% -71%, -50% 71%, 50% 171%, 171% 50%);
    }
  }

  @keyframes reveal-light {
    from {
      clip-path: polygon(171% 50%, 50% 171%, 50% 171%, 171% 50%);
    }
    to {
      clip-path: polygon(171% 50%, 50% 171%, -50% 71%, 50% -71%);
    }
  }
}
