.theme-scaled {
  @media (min-width: 1024px) {
    --radius: 0.6rem;
    --text-lg: 1.05rem;
    --text-base: 0.85rem;
    --text-sm: 0.8rem;
    --spacing: 0.222222rem;
  }

  [data-slot="card"] {
    --spacing: 0.16rem;
  }

  [data-slot="card-header"] *,
  [data-slot="card-content"] *,
  [data-slot="card-footer"] * {
    --spacing: 0.222222rem;
  }
}
