<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %}{{ page.title }} &mdash;{% endif %} {{ site.name }}</title>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

        <!-- Syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">Projects</a>
            <a class="extra" href="/">About</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                GitHub<br>
                E-mail
              </p>
            </div>
            <div class="contact">
              <p>
                <a target="_blank" href="https://github.com/{{ site.github-username }}">github.com/{{ site.github-username }}</a><br>
                <span>{{ site.email }}</span>
              </p>
            </div>
          </div>
        </div>
    </body>
</html>
